@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  height: 6vh;
  padding: 0 1rem;
  place-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

ul {
  list-style: none;
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

header {
  background: #fff;
  position: sticky;
  top: 6vh;
  z-index: 2;
  padding: 2rem 0;
}

main {
  margin-top: 6vh;
}

.sidebar {
  padding: 2rem 1rem;
  background: #eee;
  height: 94vh;
  width: 250px;
  position: fixed;
  transform: translateX(-250px);
  transition: transform 400ms ease-in-out;
  z-index: 3;
}

.sidebar span {
  display: inline-block;
}

.sidebar li {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.sidebar .title {
  margin-left: 0.5rem;
}

.num {
  font-size: 0.75rem;
  margin-left: auto;
  background: #666;
  border-radius: 999em;
  padding: 0.125rem 0.25rem;
  color: white;
}

.sidebar.toggle {
  transform: translateX(0);
  overflow: hidden;
}

.active {
  background-color: #ddd;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0.55rem;
  border-radius: 0.25rem;
}

.btn-add {
  border: 1px solid black;
}

.btn-save {
  color: orangered;
  border: 1px solid orangered;
}

.btn-cancel {
  color: #666;
  border: 1px solid #666;
}

input[type="text"],
textarea {
  background: white;
  border: none;
  outline: none;
  padding: 0.25rem 0.55rem;
  width: 100%;
  margin-bottom: 0.5rem;
  resize: none;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

.content {
  padding: 0 5vw;
}

.content li {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.due {
  color: white;
  border-radius: 1rem;
  padding: 0.125rem 0.25rem;
  margin-left: 0.5rem;
}

.action {
  margin-left: 2rem;
}

.action button {
  padding: 0;
}

.list-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.add-todo {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgb(112, 111, 111);
  padding: 1rem;
  background: #fff;
}

.high {
  background: red;
}

.mid {
  background: yellow;
}

.low {
  background: green;
}

.hide {
  display: none;
}

#chooser {
  position: absolute;
  border: 1px solid #eee;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  width: fit-content;
  z-index: 1;
  background: white;
  cursor: pointer;
}

#chooser li {
  border: none;
  margin: 0;
}

#chooser li:hover {
  background: #f1f1f1;
}

.alert {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@media (min-width: 600px) {
  .sidebar {
    transform: translateX(0);
  }

  .sidebar.toggle {
    transform: translateX(-250px);
  }

  .content {
    margin-left: 250px;
    transition: margin-left 400ms ease-in-out;
  }

  .content.toggle {
    margin-left: 0;
  }

  .action {
    margin-left: auto;
  }

  .content li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }

  .list-header {
    margin: 0rem;
    flex: 1;
  }
}
